// Import Font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// SCSS variables
$primaryColor: #fa9500;
$primaryColor_alt: rgb(250,
121,
0);
$secondaryColor: #a2c900;
$textColor: #2d2d2c;
$light: #818181;
$lighter: #f6f6f6;
$whitecolor: #ffffff;
$fontFamily: "Roboto",
sans-serif;
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $fontFamily;
}

body {
    margin: 0;
    padding: 0;
}

// Global
.logo_img_wrapper {
    width: 80px;
}

.flex_align_items_center {
    align-items: center;
}

.flex_justify_content_spbetw {
    justify-content: space-between;
}

.flex_justify_content_sparound {
    justify-content: space-around;
}

.flex_wrap {
    flex-wrap: wrap;
}

.list_style_ul_children {
    li {
        list-style: none;
        line-height: 35px;
    }
}

.text_color_secondary {
    color: $secondaryColor;
}

.text_color_primary {
    color: $primaryColor;
}

.fontawesome_pseudo_style,
ul.list_fontawesome_pseudo_style li::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
}

.bg_grey {
    background-color: $lighter;
}

.bg_unset {
    background-color: unset;
}

.bg_primary {
    background-color: $primaryColor;
}

.focus_outline_0,
button.owl-dot {
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: $primaryColor;
}

// Typography
.text_uppercase {
    text-transform: uppercase;
}

.text_lowercase {
    text-transform: lowercase;
}

.text_capitalize {
    text-transform: capitalize;
}

// Components
.banner {
    background-color: rgba(169, 218, 138, 0.2);
    background-image: url("../assets/images/hero_banner.png");
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.btn {
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

ul.breadcrumb {
    background-color: unset;
}

ul.breadcrumb li {
    text-transform: uppercase;
    color: $lighter;
    font-weight: lighter;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    font-weight: 500;
    content: ">\00a0";
}

ul.breadcrumb li a {
    color: $light;
    font-weight: 500;
    text-decoration: none;
    color: $lighter;
}

ul.breadcrumb li a:hover {
    color: $secondaryColor;
}

.text_hover_underline_none {
    &:hover {
        text-decoration: none;
    }
}

.rounded_edge_3 {
    border-radius: 3px;
}

.dropdown-item {
    color: $textColor;
    &:hover,
    &:focus {
        background-color: $whitecolor !important;
        color: $primaryColor !important;
    }
}

.nest_navList_parent {
    position: relative;
    >a {
        display: none;
    }
    &:hover {
        transition: all 300ms ease-in-out;
        >.next_nav_child {
            display: block;
            position: absolute;
            // top: 0;
            width: 100%;
        }
        .first_nav_child {
            left: 0;
        }
        .second_nav_child {
            right: 0;
        }
    }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea.form-control {
    border-radius: 0;
    border: 1px solid $light;
    &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid $secondaryColor;
    }
}

.special_input_wrapper {
    position: relative;
    &.borderPrimary {
        border: 1px solid $secondaryColor;
    }
    &>input {
        z-index: 4;
    }
    &.date_input_wrapper {
        &::after {
            content: "\f073";
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            background-color: $primaryColor;
            padding: 1em;
            color: $whitecolor;
            display: grid;
            place-content: center;
            z-index: 1;
        }
    }
}

.form_submit_btn {
    background-color: $primaryColor;
    color: $whitecolor;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
    &:hover {
        background-color: $primaryColor_alt;
        color: $whitecolor;
    }
}

article {
    margin: 2em 0;
    p {
        line-height: 34px;
    }
}

.prof {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #C4C4C4;
    .service_col::before,
    .prof_col::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 3rem;
    }
    .service_col::before {
        content: "\f7d9";
    }
    .prof_col::before {
        content: "\f0b1";
    }
}

// Pages
.why_choose_us_section {
    .section_title {
        &::before {
            content: "";
            height: 2px;
            background-color: $textColor;
            display: block;
            width: 5%;
            margin: 0 auto;
            margin-bottom: 0.4em;
        }
    }
}

.review_section {
    .section_title {
        &::before {
            content: "";
            height: 30px;
            width: 2px;
            display: inline-block;
            background-color: $textColor;
            margin-right: 0.4em;
            margin-bottom: -5px;
        }
    }
}

.contact_page {
    .contact_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .cotact_form_wrapper {
        max-width: 700px;
        margin: 2em auto;
    }
}

.booking_page {
    .page_title_wrapper {
        border-bottom: 1px solid $light;
    }
}

//
.hero {
    background-color: rgba(169, 218, 138, 0.2);
    background-image: url("../assets/images/hero_banner.png");
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: $whitecolor;
}

.service_desc_list {
    padding: 0;
    line-height: 32px;
    li::before {
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 1em;
        color: $secondaryColor;
    }
}

.diagnostic_home_service_page {
    dt {
        font-size: 1.4rem;
    }
    dd::before {
        content: "-";
        margin-right: 1em;
    }
    .booking-link {
        background-color: $textColor;
        color: #fff;
    }
    .booking-link .container .link-wrapper {
        display: inline-block;
        background-color: $primaryColor;
        transition: all 300ms ease-in-out;
    }
    .booking-link .container .link-wrapper:hover {
        background-color: $primaryColor_alt;
    }
    .booking-link .container .link-wrapper a {
        text-decoration: none;
        color: $whitecolor;
    }
}

.home-service-form {
    .back-btn {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .back-btn::before {
        content: "\f104";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 3rem;
        margin-right: 5px;
    }
    .title-wrapper {
        margin: 0 auto;
    }
    // custom radio
    .radio_rej {
        position: absolute;
        opacity: 0;
        ~label {
            display: flex;
            cursor: pointer;
        }
    }
    .custom_radio {
        --size: 1.5em;
        width: var(--size);
        height: var(--size);
        margin-right: var(--size);
        cursor: pointer;
        border: 0.6px solid $light;
        box-shadow: inset 0 0 0 5px $whitecolor;
        background-color: $light;
        border-radius: 50%;
        transform: scale(1);
        transition: transform 300ms ease-in-out;
        display: grid;
        place-content: center;
    }
    .radio_rej[type="radio"]:checked+label .custom_radio {
        background: $primaryColor;
    }
    //
    #seller_account_details {
        transition: all 200ms ease-in-out;
        transform-origin: top;
        &.hide {
            position: absolute;
            right: 0;
            left: 0;
            transform: scaleY(0);
            opacity: 0;
        }
    }
}

.home_service_form_response_page {
    .inner {
        display: grid;
        place-content: center;
        height: 70vh;
    }
}

footer {
    background-color: $textColor;
    background-image: url("../assets/images/hero_banner.png");
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
    color: $whitecolor;
    font-size: .8rem;
    .section_title {
        margin-bottom: 1em;
        font-size: 1rem;
        &::before {
            content: "";
            height: 2px;
            width: 10%;
            background-color: $secondaryColor;
            display: block;
        }
    }
    .footer_nav_links {
        li::before {
            content: "\f068";
            margin-right: 0.4em;
        }
        a {
            text-decoration: none;
            color: $whitecolor;
        }
    }
    .social_icons {
        a {
            text-decoration: none;
            color: $whitecolor;
        }
    }
    form button {
        font-size: .8rem;
    }
}

.footer_widget_2 {
    background-color: $textColor;
    color: $whitecolor;
    padding: 1em 0;
    font-size: .9rem;
}

// Media Query
@media (min-width: 972px) {
    .logo_img_wrapper {
        width: 80px;
    }
    .navbar-nav .nav-item {
        padding: 0.7em 0.5em;
        transition: all 300ms ease-in-out;
        &:hover,
        &.active {
            background-color: $primaryColor;
            .nav-link {
                color: $whitecolor !important;
            }
        }
    }
    .next_nav_child {
        display: none;
    }
    .nest_navList_parent {
        >a {
            display: block;
        }
        &:hover {
            transition: all 300ms ease-in-out;
            >.next_nav_child {
                display: block;
                top: 0;
                width: auto;
            }
            .first_nav_child {
                left: -96%;
            }
            .second_nav_child {
                right: -100%;
            }
        }
    }
    .service_desc_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        margin-top: 2em;
        li {
            font-size: 1.3rem;
        }
    }
    .hero {
        height: 55vh;
    }
    .contact_page {
        .contact_media {
            li {
                border-right: 1px solid $light;
                &+li:last-child {
                    border: none;
                }
            }
        }
    }
}